<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>api.mettwasser.xyz</title>

        <link rel="stylesheet" href="/assets/index.css" />

        <script
            src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
            async
        ></script>
        <script type="module" src="/assets/index.js" async></script>
    </head>
    <body class="text-gray-100 bg-black font-serif">
        <main
            class="h-screen bg-black opacity-0 flex flex-col justify-center items-center animate-fadein"
        >
            <h1
                class="text-2xl drop-shadow-gray font-extrabold min-[310px]:text-3xl min-[480px]:text-5xl"
                id="heading"
            >
                api.mettwasser.xyz
            </h1>
            <div class="mt-7 flex">
                <a
                    href="https://discord.gg/73Fedzm7th"
                    class="group flex px-1 py-0.5 rounded-l-md justify-center items-center bg-[#5865F2] text-gray-100 text-lg transition-all min-[330px]:px-3 min-[330px]:py-1.5 min-[330px]:hover:scale-x-110 min-[480px]:px-6 min-[480px]:py-3 hover:bg-[#4752C4]"
                    >Discord
                    <iconify-icon
                        icon="ic:sharp-discord"
                        class="hidden ml-2 text-3xl min-[400px]:inline-block group-hover:animate-pulse"
                    ></iconify-icon
                ></a>
                <a
                    href="/docs"
                    class="group flex px-1 py-0.5 justify-center items-center bg-green-600 text-gray-100 text-lg transition-all min-[330px]:px-3 min-[330px]:py-1.5 min-[330px]:hover:scale-x-110 min-[480px]:px-6 min-[480px]:py-3 hover:bg-green-700"
                    >Docs
                    <iconify-icon
                        icon="material-symbols:menu-book"
                        class="hidden ml-2 text-3xl min-[400px]:inline-block group-hover:animate-pulse"
                    ></iconify-icon
                ></a>
                <a
                    href="https://github.com/Mettwasser/api-mettwasser-xyz"
                    class="group flex px-1 py-0.5 rounded-r-md justify-center items-center bg-[#171515] text-gray-100 text-lg transition-all min-[330px]:px-3 min-[330px]:py-1.5 min-[330px]:hover:scale-x-110 min-[480px]:px-6 min-[480px]:py-3 hover:bg-[#221F1F]"
                    >GitHub
                    <iconify-icon
                        icon="mdi:github"
                        class="hidden ml-2 text-3xl min-[400px]:inline-block group-hover:animate-pulse"
                    ></iconify-icon
                ></a>
            </div>
        </main>
    </body>
</html>
