<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>api.mettwasser.xyz</title>

    <link rel="stylesheet" href="/build/index.css" />

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" async></script>
    <script type="module" src="/assets/scripts/index.js" async></script>
</head>

<body class="text-gray-100 bg-neutral-800 font-serif">
    <main class="h-screen opacity-0 flex flex-col justify-center items-center animate-fadein">
        <h1 class="text-[28px] drop-shadow-gray font-extrabold xs:text-5xl" id="main-heading"></h1>
        <div class="mt-5 flex xs:mt-7">
            <a href="https://discord.gg/73Fedzm7th"
                class="group flex px-4 py-2 rounded-l-md justify-center items-center bg-[#5865F2] text-gray-100 text-base transition-all duration-300 xs:px-6 xs:py-3 xs:text-lg hover:bg-[#4752C4] hover:px-6 xs:hover:px-8">Discord
                <iconify-icon icon="ic:sharp-discord"
                    class="hidden ml-2 text-3xl transition-all duration-300 xs:inline-block group-hover:animate-pulse"></iconify-icon></a>
            <a href="/docs"
                class="group flex px-4 py-2 justify-center items-center bg-green-600 text-gray-100 text-base transition-all duration-300 xs:px-6 xs:py-3 xs:text-lg hover:bg-green-700 hover:px-6 xs:hover:px-8">Docs
                <iconify-icon icon="material-symbols:menu-book"
                    class="hidden ml-2 text-3xl transition-all duration-300 xs:inline-block group-hover:animate-pulse"></iconify-icon></a>
            <a href="https://github.com/Mettwasser/api-mettwasser-xyz"
                class="group flex px-4 py-2 rounded-r-md justify-center items-center bg-[#171515] text-gray-100 text-base transition-all duration-300 xs:px-6 xs:py-3 xs:text-lg hover:bg-[#221F1F] hover:px-6 xs:hover:px-8">GitHub
                <iconify-icon icon="mdi:github"
                    class="hidden ml-2 text-3xl transition-all duration-300 xs:inline-block group-hover:animate-pulse"></iconify-icon></a>
        </div>
        <h2 class="mt-5 xs:text-[28px] text-lg" id="sub-heading"></h2>
    </main>
</body>

</html>