openapi: "3.0.2"
info:
  title: api.mettwasser.xyz
  version: "1.0"
servers:
  - url: https://api.mettwasser.xyz/

paths:
  /image/round:
    get:
      tags:
        - Image
      description: "Rounds the Corners of an image."

      parameters:
        - name: url
          description: The URL to the image that should be rounded
          in: query
          required: true
          schema:
            type: string

        - name: auto
          description: Whether the API tries to figure out the max. radius on its own. This means if width and height are the same, you'll get a perfectly round image. This will override everything else
          in: query
          schema:
            type: boolean
            default: false

        - name: corner_radius
          description: The radius to use when rounding the corners
          in: query
          schema:
            type: integer
            format: uint32
            default: 3

        - name: top_left
          description: This overrides corner_radius for the top left corner
          in: query
          schema:
            type: integer
            format: uint32

        - name: top_right
          description: This overrides corner_radius for the top right corner
          in: query
          schema:
            type: integer
            format: uint32

        - name: bottom_left
          description: This overrides corner_radius for the bottom left corner
          in: query
          schema:
            type: integer
            format: uint32

        - name: bottom_right
          description: This overrides corner_radius for the bottom right corner
          in: query
          schema:
            type: integer
            format: uint32

      responses:
        200:
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary

        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /image/colorpreview:
    get:
      tags:
        - Image

      description: Previews a color
      parameters:
        - name: hex
          description: The HEX of the color you want to preview
          in: query
          required: true
          example: 36b5b1
          schema:
            type: string

        - name: size
          description: The size ID of the image
          in: query
          schema:
            type: integer
            default: 1
            enum:
              - 1
              - 2
              - 3

      responses:
        200:
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary

        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /randomcolor:
    get:
      description: "Chooses a random color from a collection of roughly 30.000 named colors and returns some information about it."

      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  color_hex:
                    type: string
                    example: "#6384b8"

                  preview_url:
                    type: string
                    example: "https://api.mettwasser.xyz/image/colorpreview?hex=6384b8"

                  color_name:
                    type: string
                    example: "Marine Ink"

  /captcha:
    get:
      description: "Generates a CAPTCHA"

      parameters:
        - name: difficulty
          description: The difficulty of the captcha
          in: query
          required: false
          schema:
            type: integer
          example: 5

        - name: text
          description: Custom text to use for the captcha
          in: query
          required: false
          schema:
            type: string
          example: "wP3wBH"

        - name: darkMode
          description: Whether the image should be in dark mode or not
          in: query
          required: false
          schema:
            type: boolean
          example: false

      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  solution:
                    type: string
                    example: "wP3wBH"
                  url:
                    type: string
                    example: "https://api.mettwasser.xyz/image/gen_captcha?text=wP3wBH&difficulty=5&darkMode=false"

        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

components:
  schemas:
    ApiError:
      type: object
      properties:
        message:
          type: string
          example: "Error during processing"

        code:
          type: integer
          format: uint16
          example: 500
